/* .error{
    border: 5px solid red;
} */

.fruits{
    background: #659879;
    width: 450px;
    height: 500px;
    margin: 10px;
    border: 5px solid rgb(95, 173, 95);
}
.fruits__img{
   margin-left: 25px;
}

.fruits__name{
    margin-left: 25px;
    color:#165e10;
    font-size: 40px;
}