* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #292f36;
}
.center1 {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  margin-top: 44px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #292f36;
}

.header__logo {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.title {
  font-size: 65px;
  line-height: 125%;
  color: #292f36;
}
.text {
  font-size: 22px;
  line-height: 150%;
  color: #4d5053;
}
.vector {
  padding: 26px 32px;
  border-radius: 50%;
  border: 1px solid #f4f0ec;
  background: #f4f0ec;
}
.logo-img {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 34px;
  height: 34px;
}
.logo-text {
  font-size: 40px;
  line-height: 125%;
}
.header__menubar {
  padding-right: 50px;
}
.menubar__list {
  display: flex;
  gap: 50px;
}
.menubar__item {
  display: block;
  font-size: 20px;
  line-height: 125%;
}

.banner {
  position: relative;
  margin-top: 45px;
}
.banner__image {
  z-index: 1;
  background-image: url(img/Image_laceholder.png);
  height: 356px;
  background-position: center;
  background-size: cover;
}
.banner__intro {
  position: absolute;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 37px;
  top: 178px;
  margin: 0 508px;
  padding: 41px 78px;
}
.banner__title {
  font-size: 50px;
  text-align: left;
}
.banner__text {
  margin: 0px 111px;
}

.latestPost {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.latestPost__title {
  font-size: 50px;
}

.latestPost__post {
  padding: 22px;
  display: flex;
  align-items: center;
  gap: 65px;
  border: 1px solid #e7e7e7;
  border-radius: 62px;
}
.latestPost__content {
  margin-right: 34px;
}
.content__title {
  font-size: 25px;
}
.content__text {
  margin: 22px 0px 41px;
}

.content__date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__dateText {
  font-size: 16px;
}

.blog {
  margin-top: 96px;
}

.blog__title {
  font-size: 50px;
}

.blog__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.blog__item {
  border: 1px solid #e7e7e7;
  border-radius: 62px;
  padding: 21px;
}
.item2 {
  background: #f4f0ec;
}
.blog__info {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.info__title {
  font-size: 25px;
}

.info__date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info__text {
  font-size: 16px;
}
.vector2 {
  background: #ffffff;
  margin-bottom: 26px;
}
.footer {
  margin-top: 33px;
}
.interno {
  margin-bottom: 134px;
  display: flex;
}

.interno__info {
  padding: 0px 216px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.interno__icons {
  display: flex;
  gap: 54px;
}
.interno__pages {
  margin-left: 101px;
  margin-right: 101px;
  display: flex;
  flex-direction: column;

  gap: 9px;
}

.pages__title {
  font-size: 25px;
}
.pages__texts {
  display: flex;
  flex-direction: column;
}
.pages__text {
  margin: 20px 0 20px 0;
}

.interno__contects {
  padding-left: 250px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 9px;
}
.contacts__title {
  padding-right: 176px;
  font-size: 25px;
}
.contacts__texts {
  display: flex;
  flex-direction: column;
}
.contacts__adress {
  margin: 20px 0 20px 0;
}
.contacts__email {
  margin: 20px 0 20px 0;
}
.contacts__phone {
  margin: 20px 0 20px 0;
}
